
body {
    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-image: url("image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}